header.rakuun-header {
  background-color: var(--main-color);
  color: var(--light);

  height: 100px;
}

header .rakuun-content-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 80%;
  margin: auto;
  height: 100%;
}

header div.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

header div.header-content div.rakuun-search-container {
  width: 100%;
}

header div.header-content div.rakuun-search-container form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

header div.header-content div.rakuun-search-container input[type="text"]{
  height: auto;
  padding: 10px 15px;
  border-radius: 5px;
  display: block;
  width: 100%;
}

header div.header-content div.rakuun-search-container button{
  display: block;
}

header div.header-content nav.rakuun-nav-buttons ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 15px;
}

header div.header-content nav.rakuun-nav-buttons ul li {
  list-style: none;
}